#header{
    width: 900px;
    height: 500px;
}
#newCake{
    width: 300px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}
#allCake{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    overflow: scroll;
    margin-left: 30px;
}
#submitB1{
    width: 60px;
    height: 30px;
    background-color: cornflowerblue;
    color: white;
}
h4{
    color: grey;
    border-bottom: 3px solid lightblue;
}
#allCake img{
    width: 150px;
    height: 100px;
}
#rateButton{
    background-color: aquamarine;
}

